<form 
[formGroup]="form"
style="padding-right: 5%; padding-left: 5%; "
>
	<div class="card" style="width: 100%;margin-top: 2rem;background-color:#edf2f6;border-radius: 10px; height: 70em; " >
		<div class="card-header"><b>Mantenimiento de usuario</b></div>
		<div class="card mb-4 mt-4">
			<ul class="nav">
				<button type="button" class="btn-toolbar" (click)="Submit()">
					<a class="nav-link text-toolbar">
						<span>
							<svg width="20" height="17" viewBox="0 0 14 14" fill="none">
								<path
									d="M11.6667 1H2.33333C1.59695 1 1 1.59695 1 2.33333V11.6667C1 12.403 1.59695 13 2.33333 13H11.6667C12.403 13 13 12.403 13 11.6667V2.33333C13 1.59695 12.403 1 11.6667 1Z"
									stroke="#38E8C6"
									stroke-linecap="round"
									stroke-linejoin="round"
								/>
								<path d="M1 5H13" stroke="#38E8C6" stroke-linecap="round" stroke-linejoin="round" />
								<path d="M5 13V5" stroke="#38E8C6" stroke-linecap="round" stroke-linejoin="round" />
							</svg>
						</span>
						Guardar
					</a>
				</button>
				<button type="button" class="btn-toolbar" (click)="resetForm()">
					<a class="nav-link text-toolbar">
						<span>
							<svg width="20" height="17" viewBox="0 0 14 14" fill="none">
								<path
									d="M11.6667 1H2.33333C1.59695 1 1 1.59695 1 2.33333V11.6667C1 12.403 1.59695 13 2.33333 13H11.6667C12.403 13 13 12.403 13 11.6667V2.33333C13 1.59695 12.403 1 11.6667 1Z"
									stroke="#38E8C6"
									stroke-linecap="round"
									stroke-linejoin="round"
								/>
								<path d="M1 5H13" stroke="#38E8C6" stroke-linecap="round" stroke-linejoin="round" />
								<path d="M5 13V5" stroke="#38E8C6" stroke-linecap="round" stroke-linejoin="round" />
							</svg>
						</span>
						Limpiar
					</a>
				</button>
				<button type="button" class="btn-toolbar" (click)="goBack()">
					<a class="nav-link text-toolbar">
						<span>
							<svg width="20" height="17" viewBox="0 0 14 14" fill="none">
								<path
									d="M11.6667 1H2.33333C1.59695 1 1 1.59695 1 2.33333V11.6667C1 12.403 1.59695 13 2.33333 13H11.6667C12.403 13 13 12.403 13 11.6667V2.33333C13 1.59695 12.403 1 11.6667 1Z"
									stroke="#38E8C6"
									stroke-linecap="round"
									stroke-linejoin="round"
								/>
								<path d="M1 5H13" stroke="#38E8C6" stroke-linecap="round" stroke-linejoin="round" />
								<path d="M5 13V5" stroke="#38E8C6" stroke-linecap="round" stroke-linejoin="round" />
							</svg>
						</span>
						Volver
					</a>
				</button>
			</ul>
		</div>
		<div class="card-body">
			<div class="row pb-2 pr-2">
				<div class="col-lg-2">Tipo de documento</div>
				<div class="col-lg-4">
					<ng-select 
					[loading]="!docTypes.length"
					[items]="docTypes"
					bindLabel="documentTypeDescription"
					bindValue="documentTypeId"
					formControlName="documentTypeId"
					placeholder="Seleccione" 
					class="ng-select-solid" 
					name="CreditDebitNoteReasonTypeId" 
					required>
					</ng-select>
				</div>
				<div class="col-lg-2">Número de documento</div>
				<div class="col-lg-4">
					<input type="text" class="form-control form-control-sm" formControlName="documentNumber" />
					<app-error-message [control]="form.get('documentNumber')!"></app-error-message>
				</div>
			</div>
			<div class="row pb-2">
				<div class="col-lg-2">Nombre</div>
				<div class="col-lg-4">
					<input type="text" class="form-control form-control-sm" formControlName="name"/>
					<app-error-message [control]="form.get('name')!"></app-error-message>
				</div>
				<div class="col-lg-2">Apellido Paterno</div>
				<div class="col-lg-4">
					<input type="text" class="form-control form-control-sm" formControlName="fathersLastName"/>
					<app-error-message [control]="form.get('fathersLastName')!"></app-error-message>
				</div>
			</div>
			<div class="row pb-2">
				<div class="col-lg-2">Apellido Materno</div>
				<div class="col-lg-4">
					<input type="text" class="form-control form-control-sm" formControlName="mothersLastName"/>
					<app-error-message [control]="form.get('mothersLastName')!"></app-error-message>
				</div>
				<div class="col-lg-2">Dirección</div>
				<div class="col-lg-4">
					<input type="text" class="form-control form-control-sm" formControlName="address"/>
					<app-error-message [control]="form.get('address')!"></app-error-message>
				</div>
			</div>
			<div class="row pb-2">
				<div class="col-lg-2">Departamento</div>
				<div class="col-lg-4">
					<ng-select 
					placeholder="Seleccione" 
					[loading]="!regions.length"
					[items]="regions"
					bindLabel="regionDescription"
					bindValue="regionCode"
					formControlName="regionCode"
					(change)="onRegionChange($event)"
					class="ng-select-solid" 
					name="CreditDebitNoteReasonTypeId" 
					required>
					</ng-select>
					<app-error-message [control]="form.get('regionCode')!"></app-error-message>
				</div>
				<div class="col-lg-2">Provincia</div>
				<div class="col-lg-4">
					<ng-select 
					placeholder="Seleccione" 
					[loading]="!provinces.length"
					[items]="provinces"
					bindLabel="provinceDescription"
					bindValue="provinceCode"
					formControlName="provinceCode"
					(change)="onProvinceChange($event)"
					class="ng-select-solid" 
					name="CreditDebitNoteReasonTypeId" 
					required>
					</ng-select>
					<app-error-message [control]="form.get('provinceCode')!"></app-error-message>
				</div>
			</div>
			<div class="row pb-2">
				<div class="col-lg-2">Distrito</div>
				<div class="col-lg-4">
					<ng-select 
					placeholder="Seleccione" 
					class="ng-select-solid"
					[loading]="!ubigeos.length"
					[items]="ubigeos"
					bindLabel="ubigeoDescription"
					bindValue="ubigeoCode"
					formControlName="ubigeoCode"
					name="CreditDebitNoteReasonTypeId" 
					required>
					</ng-select>
				</div>
				<div class="col-lg-2">Telefono</div>
				<div class="col-lg-4">
					<input type="text" class="form-control form-control-sm" formControlName="phone"/>
					<app-error-message [control]="form.get('phone')!"></app-error-message>
				</div>
			</div>
			<div class="row pb-2">
				<div class="col-lg-2">Correo</div>
				<div class="col-lg-4">
					<input type="email" class="form-control form-control-sm" formControlName="email" />
					<app-error-message [control]="form.get('email')!"></app-error-message>
				</div>
				<div class="col-lg-2">Contraseña</div>
				<div class="col-lg-4">
					<input type="password" class="form-control form-control-sm" formControlName="password"/>
					<app-error-message [control]="form.get('password')!"></app-error-message>
				</div>
			</div>
		</div>
	</div>	
</form>